@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --blue:#0149B7;
    --white:#fff;
    --lime:#263038;
}

body{
    color: var(--lime);
    background: var(--white);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: var(--blue);
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: 37px;
}
.logo span{
    color: var(--lime);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--lime);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    text-decoration: none;

}
.navigation ul li a:hover{
    color: var(--blue);
    text-decoration: none;

}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.container-nav{
    width: auto;
    display: flex;
    align-items: left;
    justify-content: left;
}
.nav-text{
    padding-top: 1%;
    text-align: center;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--lime);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--blue);
}
.home{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
main{
    background-image: url(./images/fundo-de-papel-de-espaco-de-design-texturizado.jpg); 
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 3.4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    font-size: 1.2em;
    margin-bottom: 2rem;
}
.home-text li{
    font-size: 1.2em;
}
.home-btn:hover{
    background: #0149B7;
}
.home-img img{
    width: 115%;
    border-radius: 8px 8px 8px / 8px 8px;
}
#image1{
    margin-left: 22%;
    width: 80%;
    box-shadow: 16px 7px 102px 14px rgba(0,0,0,0.2);
    -webkit-box-shadow: 16px 7px 102px 14px rgba(0,0,0,0.2);
    -moz-box-shadow: 16px 7px 102px 14px rgba(0,0,0,0.2);
}
#image2{
    margin-right: 22%;
    width: 80%;
    box-shadow: -16px 7px 102px 14px rgba(0,0,0,0.2);
    -webkit-box-shadow: -16px 7px 102px 14px rgba(0,0,0,0.2);
    -moz-box-shadow: -16px 7px 102px 14px rgba(0,0,0,0.2);
}
#image3{
    margin-left: 22%;
    width: 80%;
    box-shadow: 16px 7px 102px 14px rgba(0,0,0,0.2);
    -webkit-box-shadow: 16px 7px 102px 14px rgba(0,0,0,0.2);
    -moz-box-shadow: 16px 7px 102px 14px rgba(0,0,0,0.2);
}
footer{
    margin-top: 250px;
    height: 250px;
    background-color: #4778c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
footer img{
    margin-right: 37px;
}
.container-footer{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 8px / 8px 8px;
}
.footer-text{
    text-align: left;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}
